<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlConn" connectionString="Server=.\SQL2017_MB;Initial Catalog=Wellzijn;Integrated Security=True;ConnectRetryCount=5;MultipleActiveResultSets=True" providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>